# PyCity Schools Analysis

The analysis considers some very general factors in relation to student performance in math and reading.  The data set consists of 15 schools along with their budgets, student numbers, grade levels, and student scores.  As part of the assignment, the data was reorganized several times to highlight factors such as the per student budget, different grade levels, whether it was a charter or district shool, and the size of the student population.   

At first glance, overall pass rates seem correlated to school size.  The 7th largest schools, with student numbers closer to the 3,000- to 5,000-student range, not only sit at the bottom range, they trail as much as 38 percentage points behind the better performing schools. The data seems to divide in roughly half, with overall pass rates in either the 90s or the 50s.  

Since chool size is a widely publicized performance factor and an easy concept for any lay person to grasp, latching onto that part of the data would make sense if you were, for instance, lobbying for new school construction or a similar initiative.  The problem is the diffference between Wilson & Ford High Schools.  Their student populations differ by 456 students, so less than 20%, but they have almost the widest gap in student achievement within the data set.  Only slightly more than half of Ford HS students are passing their courses while Wilson HS students pass at a rate of better than 9 out of 10, even though they rank lowest in per student spending. Granted, maybe that 20% difference represents the tipping point of inadequate resources to student numbers, and given that it is only one school, maybe the difference between Ford & Wilson high schools should just be discounted as an anomaly.  Presumably other factors are effecting the pass rates more, such as teacher to student ratios, student economic backgrounds, how outliers such as AP students with weighted averages and students with learning disabilities are handled within the reporting data, etc.  

I also expected a strong connection between student performance and the school's per student budget.  However, within this small data set at least, the schools in the lower half of student spending outperformed their better funded competitors significantly, with only the exception of Thomas HS. Again, within just this very small data set, bigger schools appear to spend more and still achieve far less.
  
---

In [394]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [395]:
pip install ipykernel

Requirement already satisfied: ipykernel in c:\users\melan\anaconda3\lib\site-packages (6.25.0)
Requirement already satisfied: comm>=0.1.1 in c:\users\melan\anaconda3\lib\site-packages (from ipykernel) (0.1.2)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\melan\anaconda3\lib\site-packages (from ipykernel) (1.6.7)
Requirement already satisfied: ipython>=7.23.1 in c:\users\melan\anaconda3\lib\site-packages (from ipykernel) (8.15.0)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\melan\anaconda3\lib\site-packages (from ipykernel) (7.4.9)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\melan\anaconda3\lib\site-packages (from ipykernel) (5.3.0)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\melan\anaconda3\lib\site-packages (from ipykernel) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\users\melan\anaconda3\lib\site-packages (from ipykernel) (1.5.6)
Requirement already satisfied: packaging in c:\users\melan\anaconda3\lib\site-packages (from ipykernel) (23.1)
Requirement already satisfied: psutil in c:\users\melan\anaconda3\lib\site-packages (from ipykernel) (5.9.0)
Requirement already satisfied: pyzmq>=20 in c:\users\melan\anaconda3\lib\site-packages (from ipykernel) (23.2.0)
Requirement already satisfied: tornado>=6.1 in c:\users\melan\anaconda3\lib\site-packages (from ipykernel) (6.3.2)
Requirement already satisfied: traitlets>=5.4.0 in c:\users\melan\anaconda3\lib\site-packages (from ipykernel) (5.7.1)
Requirement already satisfied: backcall in c:\users\melan\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.2.0)
Requirement already satisfied: decorator in c:\users\melan\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\melan\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\melan\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\melan\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\melan\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (2.15.1)
Requirement already satisfied: stack-data in c:\users\melan\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.2.0)
Requirement already satisfied: colorama in c:\users\melan\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.4.6)
Requirement already satisfied: entrypoints in c:\users\melan\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel) (0.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\melan\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel) (2.8.2)
Requirement already satisfied: platformdirs>=2.5 in c:\users\melan\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\melan\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (305.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\melan\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\melan\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=7.23.1->ipykernel) (0.2.5)
Requirement already satisfied: six>=1.5 in c:\users\melan\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->jupyter-client>=6.1.12->ipykernel) (1.16.0)
Requirement already satisfied: executing in c:\users\melan\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (0.8.3)
Requirement already satisfied: asttokens in c:\users\melan\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\melan\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [396]:
# File to Load (Remember to Change These)
# I also changed the variable names in some places
#had to add cell above to correct Name error, not recognizing mergeDF
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [397]:
# Read School and Student Data File and store into Pandas DataFrames
school_data_to_load = pd.read_csv(school_data_to_load)
student_data_to_load = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(school_data_to_load, student_data_to_load, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

## District Summary

In [398]:
#1 Calculate the total number of unique schools
school_count = school_data_complete["school_name"]
school_count = school_count.unique()     # tested array was right here
school_count = len(school_count)
school_count

15

In [399]:
#2 Calculate the total number of students
student_count = len(school_data_complete["student_name"])
student_count

39170

In [400]:
#3 Calculate the total budget
total_budget = school_data_complete["budget"].unique()
total_budget = total_budget.sum() 
total_budget

24649428

In [401]:
#4 Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [402]:
#5 Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [403]:
#6 Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
#passing_math_count
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [404]:
#7 Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [405]:
#8 Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [406]:
#9 Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"TOTAL SCHOOLS": [school_count],
                                 "TOTAL STUDENTS": [student_count],
                                 "TOTAL BUDGET": [total_budget],
                                 "AVG MATH SCORE": [average_math_score],
                                 "AVG READING SCORE": [average_reading_score],
                                 "% PASSING MATH": [passing_math_percentage],
                                 "% PASSING READING": [passing_reading_percentage],
                                 "% PASSING OVERALL": [overall_passing_rate]})

district_summary["AVG MATH SCORE"] = district_summary["AVG MATH SCORE"].map("{:,.2f}%".format)
district_summary["AVG READING SCORE"] = district_summary["AVG READING SCORE"].map("{:,.2f}%".format)
district_summary["% PASSING MATH"] = district_summary["% PASSING MATH"].map("{:,.2f}%".format)
district_summary["% PASSING READING"] = district_summary["% PASSING READING"].map("{:,.2f}%".format)
district_summary["% PASSING OVERALL"] = district_summary["% PASSING OVERALL"].map("{:,.2f}%".format)
district_summary["TOTAL STUDENTS"] = district_summary["TOTAL STUDENTS"].map("{:,}".format)

district_summary["TOTAL BUDGET"] = district_summary["TOTAL BUDGET"].map("${:,.2f}".format)

district_summary

,TOTAL SCHOOLS,TOTAL STUDENTS,TOTAL BUDGET,AVG MATH SCORE,AVG READING SCORE,% PASSING MATH,% PASSING READING,% PASSING OVERALL
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

## School Summary

In [407]:
#1 Use the code provided to select all of the school types #DON'T USE MERGED, ERROR
school_types = school_data_to_load.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [408]:
#2 Calculate the total student count per school #correct
per_school_counts = student_data_to_load.groupby(["school_name"]) ["student_name"].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [409]:
#3a Calculate the total school budget #correct
per_school_budget =  school_data_complete.groupby(["school_name"]) ["budget"].mean()
per_school_budget 
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [410]:
#3b per_school_capita #correct
per_school_capita = per_school_budget/per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [411]:
#4a Calculate the average MATH scores per school #correct
per_school_math_AVG = school_data_complete.groupby(["school_name"]) ["math_score"].mean()
per_school_math_AVG

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [412]:
#4b Calculate the average READING scores per school #correct
per_school_reading_AVG = school_data_complete.groupby(["school_name"]) ["reading_score"].mean()
per_school_reading_AVG

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [413]:
#5a Calculate the number of students •PER SCHOOL• with math scores of 70 or higher 
#correct (test data complete vs original)
school_students_passing_math_COUNT = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_students_passing_math_COUNT = school_students_passing_math_COUNT.groupby(["school_name"]).count()["student_name"] 
school_students_passing_math_COUNT

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [414]:
#5b Passing reading PER SCHOOL COUNT
school_students_passing_reading_COUNT = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_students_passing_reading_COUNT = school_students_passing_reading_COUNT.groupby(["school_name"]).count()["student_name"] 
school_students_passing_reading_COUNT

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [415]:
#5c Passing BOTH PER SCHOOL COUNT

students_passing_BOTH_COUNT = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
students_passing_BOTH_COUNT = students_passing_BOTH_COUNT.groupby(["school_name"]).count()["student_name"] 
students_passing_BOTH_COUNT
#school_data_complete.groupby(["school_name"]).count()

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [416]:
#6a MATH-PASSING •PERCENTAGE• PER SCHOOL
#get to work with per_school_math?
per_school_passing_math_PERCENTAGE = school_students_passing_math_COUNT / per_school_counts * 100 
per_school_passing_math_PERCENTAGE

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: student_name, dtype: float64

In [417]:
#6b READING-PASSING •PERCENTAGE• PER SCHOOL
per_school_passing_reading_PERCENTAGE = school_students_passing_reading_COUNT / per_school_counts * 100 
per_school_passing_reading_PERCENTAGE

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: student_name, dtype: float64

In [418]:
#6c PASSING BOTH OVERALL •PERCENTAGE• PER SCHOOL
per_school_passing_BOTH_PERCENTAGE = students_passing_BOTH_COUNT / per_school_counts * 100 
per_school_passing_BOTH_PERCENTAGE 

per_school_passing_BOTH_PERCENTAGE = per_school_passing_BOTH_PERCENTAGE.iloc[:, ]
per_school_passing_BOTH_PERCENTAGE

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: student_name, dtype: float64

In [419]:
#7 Create a DataFrame called `per_school_summary` with columns for the calculations above.
# had to remove square brackets, worked above for 1 item, not here

per_school_summary = pd.DataFrame({"SCHOOL TYPE": school_types,
                                    "TOTAL STUDENTS": per_school_counts,
                                   "TOTAL BUDGET": per_school_budget,
                                   "BUDGET PER STUDENT": per_school_capita,
                                   
                                   "MATH GRADE AVG": per_school_reading_AVG,
                                   "READING GRADE AVG": per_school_reading_AVG,
                                   
                                   "STUDENTS PASSING MATH": school_students_passing_math_COUNT,
                                   "STUDENTS PASSING READING": school_students_passing_reading_COUNT,
                                   "STUDENTS PASSING BOTH": students_passing_BOTH_COUNT,
                                   
                                   "RATE PASSING MATH": per_school_passing_math_PERCENTAGE,
                                   "RATE PASSING READING": per_school_passing_reading_PERCENTAGE,
                                   "RATE PASSING OVERALL": per_school_passing_BOTH_PERCENTAGE
                                  })

per_school_summary = per_school_summary[["SCHOOL TYPE", "TOTAL STUDENTS", "TOTAL BUDGET", "BUDGET PER STUDENT", "MATH GRADE AVG", 
                                        "READING GRADE AVG", "STUDENTS PASSING MATH", "STUDENTS PASSING READING", 
                                        "STUDENTS PASSING BOTH", "RATE PASSING MATH", "RATE PASSING READING", 
                                        "RATE PASSING OVERALL"]]


# Formatting - currency
per_school_summary_FORMATTED["TOTAL BUDGET"] = per_school_summary["TOTAL BUDGET"].map("${:,.2f}".format)
per_school_summary_FORMATTED["BUDGET PER STUDENT"] = per_school_summary["BUDGET PER STUDENT"].map("${:,.2f}".format)

#Formatting the percentages
per_school_summary_FORMATTED["MATH GRADE AVG"] = per_school_summary["MATH GRADE AVG"].map("{:,.2f}%".format)
per_school_summary_FORMATTED["READING GRADE AVG"] = per_school_summary["READING GRADE AVG"].map("{:,.2f}%".format)
per_school_summary_FORMATTED["RATE PASSING MATH"] = per_school_summary["RATE PASSING MATH"].map("{:,.2f}%".format)
per_school_summary_FORMATTED["RATE PASSING READING"] = per_school_summary["RATE PASSING READING"].map("{:,.2f}%".format)
per_school_summary_FORMATTED["RATE PASSING OVERALL"] = per_school_summary["RATE PASSING OVERALL"].map("{:,.2f}%".format)

# Display the DataFrame
per_school_summary_FORMATTED

,TOTAL STUDENTS,TOTAL BUDGET,BUDGET PER STUDENT,MATH GRADE AVG,READING GRADE AVG,STUDENTS PASSING MATH,STUDENTS PASSING READING,STUDENTS PASSING BOTH,RATE PASSING MATH,RATE PASSING READING,RATE PASSING OVERALL
school_name,,,,,,,,,,,
Bailey High School,4976,"$3,124,928.00",$628.00,81.03%,81.03%,3318,4077,2719,66.68%,81.93%,54.64%
Cabrera High School,1858,"$1,081,356.00",$582.00,83.98%,83.98%,1749,1803,1697,94.13%,97.04%,91.33%
Figueroa High School,2949,"$1,884,411.00",$639.00,81.16%,81.16%,1946,2381,1569,65.99%,80.74%,53.20%
Ford High School,2739,"$1,763,916.00",$644.00,80.75%,80.75%,1871,2172,1487,68.31%,79.30%,54.29%
Griffin High School,1468,"$917,500.00",$625.00,83.82%,83.82%,1371,1426,1330,93.39%,97.14%,90.60%
Hernandez High School,4635,"$3,022,020.00",$652.00,80.93%,80.93%,3094,3748,2481,66.75%,80.86%,53.53%
Holden High School,427,"$248,087.00",$581.00,83.81%,83.81%,395,411,381,92.51%,96.25%,89.23%
Huang High School,2917,"$1,910,635.00",$655.00,81.18%,81.18%,1916,2372,1561,65.68%,81.32%,53.51%
Johnson High School,4761,"$3,094,650.00",$650.00,80.97%,80.97%,3145,3867,2549,66.06%,81.22%,53.54%
Pena High School,962,"$585,858.00",$609.00,84.04%,84.04%,910,923,871,94.59%,95.95%,90.54%
Rodriguez High School,3999,"$2,547,363.00",$637.00,80.74%,80.74%,2654,3208,2119,66.37%,80.22%,52.99%
Shelton High School,1761,"$1,056,600.00",$600.00,83.73%,83.73%,1653,1688,1583,93.87%,95.85%,89.89%
Thomas High School,1635,"$1,043,130.00",$638.00,83.85%,83.85%,1525,1591,1487,93.27%,97.31%,90.95%
Wilson High School,2283,"$1,319,574.00",$578.00,83.99%,83.99%,2143,2204,2068,93.87%,96.54%,90.58%
Wright High School,1800,"$1,049,400.00",$583.00,83.95%,83.95%,1680,1739,1626,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [420]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary_FORMATTED.sort_values("RATE PASSING OVERALL", ascending=False)
top_schools.head(5)

,TOTAL STUDENTS,TOTAL BUDGET,BUDGET PER STUDENT,MATH GRADE AVG,READING GRADE AVG,STUDENTS PASSING MATH,STUDENTS PASSING READING,STUDENTS PASSING BOTH,RATE PASSING MATH,RATE PASSING READING,RATE PASSING OVERALL
school_name,,,,,,,,,,,
Cabrera High School,1858,"$1,081,356.00",$582.00,83.98%,83.98%,1749,1803,1697,94.13%,97.04%,91.33%
Thomas High School,1635,"$1,043,130.00",$638.00,83.85%,83.85%,1525,1591,1487,93.27%,97.31%,90.95%
Griffin High School,1468,"$917,500.00",$625.00,83.82%,83.82%,1371,1426,1330,93.39%,97.14%,90.60%
Wilson High School,2283,"$1,319,574.00",$578.00,83.99%,83.99%,2143,2204,2068,93.87%,96.54%,90.58%
Pena High School,962,"$585,858.00",$609.00,84.04%,84.04%,910,923,871,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [421]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =  per_school_summary_FORMATTED.sort_values("RATE PASSING OVERALL", ascending=True)
bottom_schools.head(5)

,TOTAL STUDENTS,TOTAL BUDGET,BUDGET PER STUDENT,MATH GRADE AVG,READING GRADE AVG,STUDENTS PASSING MATH,STUDENTS PASSING READING,STUDENTS PASSING BOTH,RATE PASSING MATH,RATE PASSING READING,RATE PASSING OVERALL
school_name,,,,,,,,,,,
Rodriguez High School,3999,"$2,547,363.00",$637.00,80.74%,80.74%,2654,3208,2119,66.37%,80.22%,52.99%
Figueroa High School,2949,"$1,884,411.00",$639.00,81.16%,81.16%,1946,2381,1569,65.99%,80.74%,53.20%
Huang High School,2917,"$1,910,635.00",$655.00,81.18%,81.18%,1916,2372,1561,65.68%,81.32%,53.51%
Hernandez High School,4635,"$3,022,020.00",$652.00,80.93%,80.93%,3094,3748,2481,66.75%,80.86%,53.53%
Johnson High School,4761,"$3,094,650.00",$650.00,80.97%,80.97%,3145,3867,2549,66.06%,81.22%,53.54%

## Math Scores by Grade

In [422]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade` #https://github.com/bdthai81/pandas-challenge/blob/master/PyCitySchools/PyCitySchools_starter.ipynb

ninth_graders = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"])["math_score"].mean()
tenth_graders = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"])["math_score"].mean()
eleventh_graders = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"])["math_score"].mean()
twelfth_graders = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"])["math_score"].mean()

# Combine the series into a dataframe
math_scores_by_grade = pd.DataFrame({"9th": ninth_graders,
                                      "10th": tenth_graders,
                                      "11th": eleventh_graders,
                                      "12th": twelfth_graders})

math_scores_by_grade[["9th", "10th", "11th", "12th"]]
 # can't apply formatting?
#per_school_summary_FORMATTED["MATH GRADE AVG"] = per_school_summary["MATH GRADE AVG"].map("{:,.2f}%".format)

math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [423]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"])["reading_score"].mean()
tenth_graders = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"])["reading_score"].mean()
eleventh_graders = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"])["reading_score"].mean()
twelfth_graders = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"])["reading_score"].mean()

# Combine the series into a dataframe
reading_scores_by_grade = pd.DataFrame({"9th": ninth_graders,
                                      "10th": tenth_graders,
                                      "11th": eleventh_graders,
                                      "12th": twelfth_graders})

reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
 # can't apply formatting?
reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [424]:
#1S Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["< $585", "$585-630", "$630-645", "$645-680"]

In [425]:
#2S Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()
#get rid of formatting - string

In [426]:
#3S Use `pd.cut` to categorize spending based on the bins. #use binning movies
school_spending_df["SPENDING RANGE"] = pd.cut(per_school_summary["BUDGET PER STUDENT"], bins=spending_bins, labels = labels)
school_spending_df

,SCHOOL TYPE,TOTAL STUDENTS,TOTAL BUDGET,BUDGET PER STUDENT,MATH GRADE AVG,READING GRADE AVG,STUDENTS PASSING MATH,STUDENTS PASSING READING,STUDENTS PASSING BOTH,RATE PASSING MATH,RATE PASSING READING,RATE PASSING OVERALL,SPENDING RANGE
school_name,,,,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,81.033963,81.033963,3318,4077,2719,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,1081356.0,582.0,83.975780,83.975780,1749,1803,1697,94.133477,97.039828,91.334769,< $585
Figueroa High School,District,2949,1884411.0,639.0,81.158020,81.158020,1946,2381,1569,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,1763916.0,644.0,80.746258,80.746258,1871,2172,1487,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,917500.0,625.0,83.816757,83.816757,1371,1426,1330,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,3022020.0,652.0,80.934412,80.934412,3094,3748,2481,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,248087.0,581.0,83.814988,83.814988,395,411,381,92.505855,96.252927,89.227166,< $585
Huang High School,District,2917,1910635.0,655.0,81.182722,81.182722,1916,2372,1561,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,3094650.0,650.0,80.966394,80.966394,3145,3867,2549,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,585858.0,609.0,84.044699,84.044699,910,923,871,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,2547363.0,637.0,80.744686,80.744686,2654,3208,2119,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,1056600.0,600.0,83.725724,83.725724,1653,1688,1583,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,1043130.0,638.0,83.848930,83.848930,1525,1591,1487,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,1319574.0,578.0,83.989488,83.989488,2143,2204,2068,93.867718,96.539641,90.582567,< $585
Wright High School,Charter,1800,1049400.0,583.0,83.955000,83.955000,1680,1739,1626,93.333333,96.611111,90.333333,< $585

In [427]:
#4S  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["BUDGET PER STUDENT"])["MATH GRADE AVG"].mean()
spending_reading_scores = school_spending_df.groupby(["BUDGET PER STUDENT"])["READING GRADE AVG"].mean()
spending_passing_math = school_spending_df.groupby(["BUDGET PER STUDENT"])["RATE PASSING MATH"].mean()
spending_passing_reading = school_spending_df.groupby(["BUDGET PER STUDENT"])["RATE PASSING READING"].mean()
overall_passing_spending = school_spending_df.groupby(["BUDGET PER STUDENT"])["RATE PASSING OVERALL"].mean()

In [428]:
#5S Assemble into DataFrame


spending_summary = pd.DataFrame({"AVG MATH SCORES BY BUDGET": spending_math_scores,
                                "AVG READING SCORES BY BUDGET": spending_reading_scores,
                                "% PASSING MATH BY BUDGET": spending_passing_math,
                                "% PASSING READING BY BUDGET": spending_passing_reading,
                                "% OVERALL PASSING BY BUDGET": overall_passing_spending})

#spending_summary.applymap("{:,.2f}%".format)
#formatting = {"AVG MATH SCORES BY BUDGET", "{:.2f}%"}
#spending_summary.style.format(formatting)

spending_summary["AVG MATH SCORES BY BUDGET"] = spending_summary["AVG MATH SCORES BY BUDGET"].map("{:,.2f}%".format)
spending_summary["AVG READING SCORES BY BUDGET"] = spending_summary["AVG READING SCORES BY BUDGET"].map("{:,.2f}%".format)
spending_summary["% PASSING MATH BY BUDGET"] = spending_summary["% PASSING MATH BY BUDGET"].map("{:,.2f}%".format)
spending_summary["% PASSING READING BY BUDGET"] = spending_summary["% PASSING READING BY BUDGET"].map("{:,.2f}%".format)
spending_summary["% OVERALL PASSING BY BUDGET"] = spending_summary["% OVERALL PASSING BY BUDGET"].map("{:,.2f}%".format)




# Display results
spending_summary

,AVG MATH SCORES BY BUDGET,AVG READING SCORES BY BUDGET,% PASSING MATH BY BUDGET,% PASSING READING BY BUDGET,% OVERALL PASSING BY BUDGET
BUDGET PER STUDENT,,,,,
578.0,83.99%,83.99%,93.87%,96.54%,90.58%
581.0,83.81%,83.81%,92.51%,96.25%,89.23%
582.0,83.98%,83.98%,94.13%,97.04%,91.33%
583.0,83.95%,83.95%,93.33%,96.61%,90.33%
600.0,83.73%,83.73%,93.87%,95.85%,89.89%
609.0,84.04%,84.04%,94.59%,95.95%,90.54%
625.0,83.82%,83.82%,93.39%,97.14%,90.60%
628.0,81.03%,81.03%,66.68%,81.93%,54.64%
637.0,80.74%,80.74%,66.37%,80.22%,52.99%
638.0,83.85%,83.85%,93.27%,97.31%,90.95%
639.0,81.16%,81.16%,65.99%,80.74%,53.20%
644.0,80.75%,80.75%,68.31%,79.30%,54.29%
650.0,80.97%,80.97%,66.06%,81.22%,53.54%
652.0,80.93%,80.93%,66.75%,80.86%,53.53%
655.0,81.18%,81.18%,65.68%,81.32%,53.51%

## Scores by School Size

In [429]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [430]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
# How is there a 2nd column I didn't add?
per_school_summary["SCHOOL SIZE"] = pd.cut(per_school_summary["TOTAL STUDENTS"], size_bins, labels=size_labels)
per_school_summary

,SCHOOL TYPE,TOTAL STUDENTS,TOTAL BUDGET,BUDGET PER STUDENT,MATH GRADE AVG,READING GRADE AVG,STUDENTS PASSING MATH,STUDENTS PASSING READING,STUDENTS PASSING BOTH,RATE PASSING MATH,RATE PASSING READING,RATE PASSING OVERALL,SCHOOL SIZE
school_name,,,,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,81.033963,81.033963,3318,4077,2719,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.975780,83.975780,1749,1803,1697,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,81.158020,81.158020,1946,2381,1569,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,80.746258,80.746258,1871,2172,1487,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.816757,83.816757,1371,1426,1330,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,80.934412,80.934412,3094,3748,2481,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.814988,83.814988,395,411,381,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,1910635.0,655.0,81.182722,81.182722,1916,2372,1561,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,80.966394,80.966394,3145,3867,2549,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,84.044699,84.044699,910,923,871,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,2547363.0,637.0,80.744686,80.744686,2654,3208,2119,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.725724,83.725724,1653,1688,1583,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.848930,83.848930,1525,1591,1487,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.989488,83.989488,2143,2204,2068,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.955000,83.955000,1680,1739,1626,93.333333,96.611111,90.333333,Medium (1000-2000)

In [431]:
# Calculate averages for the desired columns. 


size_math_scores = per_school_summary.groupby(["SCHOOL SIZE"])["MATH GRADE AVG"].mean()
size_reading_scores = per_school_summary.groupby(["SCHOOL SIZE"])["READING GRADE AVG"].mean()
size_passing_math = per_school_summary.groupby(["SCHOOL SIZE"])["STUDENTS PASSING MATH"].mean()
size_passing_reading = per_school_summary.groupby(["SCHOOL SIZE"])["STUDENTS PASSING READING"].mean()
size_overall_passing = per_school_summary.groupby(["SCHOOL SIZE"])["STUDENTS PASSING BOTH"].mean()

In [432]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`


size_summary = pd.DataFrame({"MATH GRADE AVG": size_math_scores,
                            "REAING GRADE AVG": size_reading_scores,
                            "STUDENTS PASSING MATH": size_passing_math,
                             "STUDENTS PASSING READING": size_passing_reading,
                             "STUDENTS PASSING BOTH": size_overall_passing
                            })

# Display results
size_summary

,MATH GRADE AVG,REAING GRADE AVG,STUDENTS PASSING MATH,STUDENTS PASSING READING,STUDENTS PASSING BOTH
SCHOOL SIZE,,,,,
Small (<1000),83.929843,83.929843,652.500,667.000,626.000
Medium (1000-2000),83.864438,83.864438,1595.600,1649.400,1544.600
Large (2000-5000),81.344493,81.344493,2510.875,3003.625,2069.125

## Scores by School Type

In [433]:
# Group the per_school_summary DataFrame by "School Type" and average the results.

average_math_score_by_type = per_school_summary.groupby(["SCHOOL TYPE"])["MATH GRADE AVG"].mean()
average_reading_score_by_type = per_school_summary.groupby(["SCHOOL TYPE"])["READING GRADE AVG"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["SCHOOL TYPE"])["RATE PASSING MATH"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["SCHOOL TYPE"])["RATE PASSING READING"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["SCHOOL TYPE"])["RATE PASSING OVERALL"].mean()

In [434]:
# Assemble the new data by type into a DataFrame called `type_summary`


type_summary = pd.DataFrame({"MATH GRADE AVG": average_math_score_by_type,
                             "READING GRADE AVG": average_reading_score_by_type,
                            "RATE PASSING MATH": average_percent_passing_math_by_type,
                            "RATE PASSING READING": average_percent_passing_reading_by_type,
                            "RATE PASSING OVERALL": average_percent_overall_passing_by_type})

# Display results
type_summary

,MATH GRADE AVG,READING GRADE AVG,RATE PASSING MATH,RATE PASSING READING,RATE PASSING OVERALL
SCHOOL TYPE,,,,,
Charter,83.896421,83.896421,93.620830,96.586489,90.432244
District,80.966636,80.966636,66.548453,80.799062,53.672208